html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5%;
}

ul {
  list-style: none;
}

body {
  background: #111;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  color: white;
}

.loading {
  font-family: "Roboto Mono", monospace;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.svg-loading {
  stroke-dasharray: 18;
  animation: rotate 3.5s infinite;
}

text {
  font-family: "Roboto Mono", monospace;
  font-size: 7px;
  animation: blink 0.9s infinite;
}

.hidden {
  display: none;
}

.content {
  animation: showContent 0.3s;
}

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li + li {
  margin-left: 2.5rem;
}

.link img {
  width: 32px;
  height: 32px;
  transition: transform 0.4s;
}

.link img:hover {
  transform: scale(1.2);
}

.links {
  display: flex;
}

.links li {
  margin-right: 40px;
}

section {
  margin-top: 3rem;
}

section h2 {
  max-width: 700px;
  font-size: 3.5rem;

  margin-bottom: 3rem;
}

section p {
  font-size: 2rem;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro section {
  flex: 1.5;
}

.intro svg {
  align-self: flex-start;
  justify-self: flex-end;
  flex: 1;
}

.intro svg path {
  fill: none;
  stroke: #fff;
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  stroke-linecap: round;
  animation: drawing 3s forwards normal;
}

.projects {
  margin-top: 3rem;
}

.projects h2 {
  cursor: pointer;
  text-align: center;

  font-weight: bold;
  font-size: 1.5rem;
  transition: transform 0.3s;
  max-width: 100%;
}

.projects h2::after {
  content: "↓";
  font-weight: bold;
  margin-left: 5px;
}

.projects h2:hover {
  transform: translateY(30px);
  transform: scale(1.1);
}

.project {
  padding: 0 20px;
  display: grid;
  gap: 3rem;
  grid-template-columns: 2fr 1fr;
  opacity: 0;
  justify-content: center;
  transition: opacity 1s;
}

#project1 {
  padding-top: 40px;
}

.project p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.project h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.project ul {
  margin-top: 1rem;
  text-indent: 1rem;
}

.project + .project {
  margin-top: 4rem;
}

footer {
  opacity: 0;
  margin-top: 6rem;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  transition: opacity 1s;
}

footer div {
  margin-top: 2rem;
  display: flex;
}

.linkFooter img {
  height: 45px;
}

.linkFooter {
  transition: transform 0.4s;
}

.linkFooter:hover {
  transform: scale(1.2);
}

footer a + a {
  margin-left: 1.5rem;
}

.show {
  opacity: 1;
}

@media (max-width: 40rem) {
  .project {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 50rem) {
  .intro svg {
    display: none;
  }

  .projects {
    margin-top: 6rem;
  }
}

@media (max-width: 30rem) {
  .container {
    max-width: 360px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .project {
    justify-items: center;
  }

  .intro {
    height: 60vh;
  }

  .intro h2 {
    font-size: 3rem;
  }

  footer {
    font-size: 2.2rem;
  }
}

.buttons {
  display: flex;
  margin-top: 2rem;
}

.buttons a {
  background: #fff;
  color: black;
  margin-right: 20px;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 10px;
  transition: transform 0.5s;
}

.buttons a:hover {
  transform: scale(1.1);
}

@keyframes drawing {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes rotate {
  to {
    stroke-dashoffset: 134;
  }
}

@keyframes showContent {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
